<ion-header>
  <ion-toolbar>
    <ion-title>
    <form #form="ngForm" (ngSubmit)="logo()">
      <ion-button class="tt" type="submit" color-activated="white" color="white" border-color="white">
        
          <ion-img src="../assets/icon/logo3.svg" class="logo"></ion-img>
        
      </ion-button>
    </form>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
      <h1 class="t">Los Mejores Platos</h1>

      <ion-button class="general" (click)="detailPla(item)" color="light" bexpand="block"  *ngFor="let item of newsList">
        <ion-card>
          <img  [src]="item.url" alt="" class="contenido" />
          <ion-card-content>
            <ion-card-header class="titulo">{{item.nombre}}</ion-card-header>
            <img src="../assets/icon/star.png" class="im" />
          </ion-card-content>
          
        </ion-card>
      </ion-button>


  </div>
</ion-content>
