ion-title{
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-top: rgb(0, 4, 255) 20px solid;
    color: rgb(0, 0, 0);    
}

ion-title .logo{
    width: 60%;
    height: 40%; 
    margin-left: 20%;

}