<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img src="../assets/icon/logo3.svg" class="logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="body">
    <h1 class="t">Tecnología</h1>
    <div class="general" *ngFor="let item of newsList">
      
        <ion-card>
          <ion-button  class="btn"   (click)="detailRes(item)" color="white" border-color="white" bexpand="block">
            <img  [src]="item.url" alt="" class="contenido" />
          </ion-button>
             
          <ion-card-content>
            <ion-card-header class="titulo">{{item.nombre}}</ion-card-header>
            <ion-card-subtitle class="sub">Marca: {{item.marca}}</ion-card-subtitle>
            <ion-card-subtitle class="sub">Precio: ${{item.precio}}</ion-card-subtitle>
            <app-heart-fav (click)="addFav(item)"> </app-heart-fav>
          </ion-card-content>
        </ion-card>
    </div>
  </div>

</ion-content>
